# open editor instead of asking
set editor="editor"
set include = yes
set edit_headers = yes
set autoedit = no # if set to no, can autocomplete mail address with khard

set text_flowed = yes                          # nice view even with 72 char limit
set assumed_charset="utf-8"
set attach_charset="utf-8"
set charset="utf-8"
set config_charset="utf-8"
set newsgroups_charset="utf-8"
set send_charset="utf-8"

set user_agent = no

set abort_noattach = no
# Search for the following regular expression in the body of the email
# English: attach, attached, attachment, attachments
set abort_noattach_regex = "\<(attach|attached|attachments?|anhang|allegato)\>"
# set abort_noattach_regex = "\\<(anhängen|angehängt|anhang|anhänge|hängt an)\\>"
