# define
# set imap_user = "john.doe"
# set realname  = "John Doe"
# optionally define
# set imap_pass = "Password"

set hostname = "gmail.com" # also used for creating the message-id (other clients use it so lets be consistent)

set smtp_url = "smtps://$imap_user@smtp.$hostname:465/"
set smtp_pass = $imap_pass
set from = "$realname <$imap_user@$hostname>"
set folder = "imaps://imap.$hostname:993"
set spoolfile = "+INBOX"
set postponed = "+[Gmail]/Drafts"
set trash     = "+[Gmail]/Trash"
unset record  # Gmail automatically saves sent e-mail to Sent, we do not want duplicates.

# mailboxes are shown in the sidebar, imap_check_subscribed loads them all
set imap_check_subscribed

set ssl_force_tls = yes

set move = no # do not move messages to another folder


# not mail specific settings, but this is probably the best place where to put them
set header_cache = ~/.cache/neomutt/headers_$hostname
set message_cachedir = ~/.cache/neomutt/bodies

