## enable sidebar (shows a list of all mailboxes)
set sidebar_visible
#set sidebar_format = "%B%?F? [%F]?%* %?N?%N/?%S"
set sidebar_format = '%B %* %?N?%N/?%S' # like above, but does not show flags
set mail_check_stats
#set sidebar_width = 25
set sidebar_sort_method = path
set sidebar_short_path = yes      # Shorten mailbox names
set sidebar_folder_indent =yes    # Indent folders whose names we've shortened


# colors
color sidebar_indicator default blue      # change background
color sidebar_highlight white   color238  # grey
color sidebar_spoolfile yellow  default
color sidebar_new       green   default
color sidebar_ordinary  default default
#color sidebar_flagged   red     default
color sidebar_divider   color8  default         # Dark grey

